body {
    margin: 0px
    padding: 0px
    border: 0px

    overflow: hidden
    color: #ddd
    background-color: #333
}

#launch-page {
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0

    display: block
    font-family: "Microsoft YaHei",Helvetica,Arial,sans-serif
    background-color: rgb(33,39,51)
    z-index: 999

    span.flex {
        flex: auto
    }

    .v-center-wrapper {
        display: flex
        flex-direction: column 
        flex-wrap: nowrap

        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
    }

    .h-center-wrapper {
        display: flex
        flex-direction: row
        flex-wrap: nowrap
    }

    .logo {
        margin-left: -50px
        margin-top: -50px
    }

    .status {
        font-size: 14px
        margin: auto
        margin-top: 20px
        white-space: nowrap

        color: rgb(255,75,2)
    }

    .copyright {
        font-size: 10px
        margin: 0 auto 5px

        color: rgb(104,104,104)

        span {
            color: rgb(255,255,255)
        }
    }

    .progress {
        border: 2px solid rgb(255,75,2);
        width: 50%;
    }
}
